
.d-flex.flex-column.flex-md-row.align-items-center.bg-white.border-bottom.box-shadow
  .container
    %h5.my-0.mr-md-auto.font-weight-normal.site-title
      = link_to 'つよみマップ', root_url, class: 'text-black'
